@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("./reset.css");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@400;500;600&display=swap');



html {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.calendar {
    max-width: 600px;
    margin-inline: auto;
    border-radius: 4px;
    overflow: hidden;
}

.calendar__topbar {
    background-color: #ffa200;
    padding: 0.75rem;
    color: #fff;
}

.event {
    padding: 1rem 1rem 2rem;
}

.event .event__time {
    color: grey;
    margin-bottom: ;
}